.muted {
  opacity: .5;
}
.tasks{
  max-width: 350px;
  margin: auto;
}
.time{
  max-width: 750px;
  margin: auto;
}
.allocations{
  max-width: 750px;
  margin: auto;
}
.allocations .md-input {
  text-align: center;
}
.noBottomPadding{
  padding-bottom: 0px;
}
.green{
    color: rgb(45, 180, 65);
}
.red{
    color: rgb(214, 72, 72);
}
.runningTaskBackground{
      background-color: floralwhite;
}
.summary {
    margin: 0 15px;
}
.md-whiteframe-z1 {
  margin-top: 2em;
  margin-bottom: 2em;
}
md-list .md-tile-content .layout-row {
    padding: 0 16px;
}
md-toolbar.main-nav {
    background-color: #025275;
}
[ng-view] md-toolbar {
    background-color: #1DAEEC;
}
.md-raised.md-warn.md-button {
    background-color: rgb(220, 69, 69);
}
.md-raised.md-warn.md-button:not([disabled]):hover {
    background-color: rgb(193, 41, 41);
}
.md-raised.md-primary.md-button {
    background-color: rgb(242, 123, 48);
}
.md-raised.md-primary.md-button:not([disabled]):hover {
    background-color: rgb(230, 105, 57);
}
.md-button.md-raised.md-accent:not([disabled]), .md-button.md-fab.md-accent:not([disabled]) {
    background-color: rgb(105, 202, 223);
}
.md-button.md-raised.md-accent:not([disabled]):hover,
.md-button.md-fab.md-accent:not([disabled]):hover {
    background-color: rgb(102, 185, 204);
}
.project-notes md-input-container{
  margin: -5px 0 0 0;
  vertical-align: top;
  padding-top: 0;
}
md-input-container .md-errors-spacer {
    float: none;
}
.data-cell {
  text-align: center;
  vertical-align: top;
  align-self: flex-start;
  padding-top: 26px;
}
@media(max-width:559px){
  .tasks{
    max-width: 100%;
    margin: 16px;
  }
  .summary md-toolbar {
    text-align: center;
  }
  .summary md-toolbar .data-cell{
    display: none;
  }
  .summary md-list .data-row {
    flex-wrap: wrap;
    padding-bottom: 16px;
  }
}
@media(max-width:782px){
  .time{
    max-width: 100%;
    margin: 16px;
  }
}


.tasks .md-button.md-datepicker-button {
    margin: 0;
    height: auto;
    width: auto;
    padding: 0;
    line-height: 1;
}
