    <br />
    <div layout="column" class="summary md-whiteframe-z1">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools" layout="row">
                <div flex="25" flex-xs="100">Projects</div>
                <div class="data-cell" flex>M</div>
                <div class="data-cell" flex>T</div>
                <div class="data-cell" flex>W</div>
                <div class="data-cell" flex>Th</div>
                <div class="data-cell" flex>F</div>
                <div class="data-cell" flex>Total</div>
            </h1>
        </md-toolbar>
        <md-content>
            <md-list layout="column">
                <md-item ng-repeat="task in tasks | orderBy: 'task'">
                    <md-divider ng-if="!$first"></md-divider>
                    <md-item-content>
                        <div class="md-tile-content">
                            <div class="data-row" layout="row" layout-align="space-between center">
                                <div flex="25" flex-xs="100">
                                    <h3>{{task.task}}</h3>
                                </div>
                                <div class="data-cell" flex>
                                    {{time[days.monday][task.task] || 0 | number: 2}}
                                </div>
                                <div class="data-cell" flex>
                                    {{time[days.tuesday][task.task] || 0 | number: 2}}
                                </div>
                                <div class="data-cell" flex>
                                    {{time[days.wednesday][task.task] || 0 | number: 2}}
                                </div>
                                <div class="data-cell" flex>
                                    {{time[days.thursday][task.task] || 0 | number: 2}}
                                </div>
                                <div class="data-cell" flex>
                                    {{time[days.friday][task.task] || 0 | number: 2}}
                                </div>
                                <div class="data-cell" flex>
                                    <strong>{{getProjectTotal(task.task) | number: 2}}</strong>
                                </div>
                            </div>
                        </div>
                    </md-item-content>
                </md-item>
                <md-item>
                    <md-divider ng-if="!$first"></md-divider>
                    <md-item-content>
                        <div class="md-tile-content">
                            <div class="data-row" layout="row" layout-align="space-between center">
                                <div flex="25" flex-xs="100">
                                    <h3>Total</h3>
                                </div>
                                <div class="data-cell" flex>
                                    <strong>{{getDayTotal(days.monday) | number: 2}}</strong>
                                </div>
                                <div class="data-cell" flex>
                                    <strong>{{getDayTotal(days.tuesday) | number: 2}}</strong>
                                </div>
                                <div class="data-cell" flex>
                                    <strong>{{getDayTotal(days.wednesday) | number: 2}}</strong>
                                </div>
                                <div class="data-cell" flex>
                                    <strong>{{getDayTotal(days.thursday) | number: 2}}</strong>
                                </div>
                                <div class="data-cell" flex>
                                    <strong>{{getDayTotal(days.friday) | number: 2}}</strong>
                                </div>
                                <div class="data-cell" flex>
                                    <strong>{{getWeekTotal() | number: 2}}</strong>
                                </div>
                            </div>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </md-content>
    </div>
    <br />
